<div class="container hoverable">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center">Contact Details</h1>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Name:</strong> Julian Stanley Maximus
          </li>
          <li class="list-group-item">
            <strong>Email:</strong> Julianmax6000@gmail.com
          </li>
          <li class="list-group-item">
            <strong>Phone:</strong> Your Phone Number
          </li>
          <li class="list-group-item">
            <strong>Address:</strong> Your Address
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
