/** @format */

.navbar {
  background-color: #800080;
  color: white;

  .navbar-brand {
    color: white;
    font-weight: bold; /* Makes the text bold */
    font-size: 20px; /* Increases the font size */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow for a 3D effect */
  }



  .nav-link {
    color: #e7eaee;

    &:hover {
      color: #007bff;
    }
  }
}
