/** @format */

.navbar {
  background-color: rgba(65, 28, 226, 0.993);
  color: white;

  .navbar-brand {
    color: white;
    font-weight: bold; /* Makes the text bold */
    font-size: 20px; /* Increases the font size */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow for a 3D effect */

    &:hover {
      color: #c0cfdf;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    }
  }
  

  .white-link {
    color: white;
    font-size: 20px; /* Increases the font size */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow for a 3D effect */
    font-style: italic;
    &:hover {
      color: #c0cfdf;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }


  .nav-link {
    color: #e7eaee;

    &:hover {
      color: #007bff;
    }
  }
}
